*{
    margin: 0%;
    padding: 0%;
    font-family: mons;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: mons;
    src: url(/Montserrat-VariableFont_wght.ttf);
}

.heading{
    margin-left: 45vw;
    /* margin-top: 7vh; */
    height: 4vh;
}
.heading h3{
    font-size: 4vh;
    color: #073b4c;
}

.news{
    margin-top: 4vh;
}
.swiper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
.section{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
    height: 50vh;
    
}
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .swiper-slide img {
    display: block;
    width: 50vh;
    height: 35vh;
    object-fit: cover;
    margin-left: 2vh;
    border: 4px gray solid;
    border-radius: 12px;
  }
 
@media (min-width:1px) and (max-width:425px){
    .news{
        background-color: #fbbed7;
    }
    .heading{
        margin-left: 20vw;
        height: 6vh;
    }
    .heading h3{
        padding-top: 2vh;
        font-family: Arial, Helvetica, sans-serif;
    }
    .news1{
        display: flex;
        flex-direction: column;
        margin-left: 8vw;
        justify-content: space-around;
        height: 100vh;
    }
    .news1 img{
        height: 30vh;
        width: 40vh;
        border: 2px gray solid;
    }
}